body {
  background-color: #333; /* 어두운 배경 색상 */
  color: #f5f5f5; /* 글자 색상을 흰색 톤으로 변경 */
  font-family: Arial, sans-serif; /* 기본 폰트 */
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 350px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 기존 스타일들 */

/* 로그인 컨테이너 스타일 */
#loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#loginFormContainer {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
  border: none;
  cursor: pointer;
}
button#loginBtn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#loginBtn:hover {
  opacity: 0.8;
}
/* 기존 스타일들은 그대로 유지하고, 아래 스타일을 추가하세요. */

#content {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

#todo {
  flex-basis: calc(100% / 5);
  order: 1;
  padding: 20px;
}
/* Todo List 관련 스타일 수정 */
#todoForm input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  font-size: 1.25rem;
  outline: none;
  border-radius: 0;
  margin-bottom: 20px;
}

#todoForm button[type='submit'] {
  display: none;
}

#todoList li {
  font-size: 1.25rem;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}

.deleteBtn,
#saveBtn,
#loadBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.25rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  margin: 10px;
}

#clock {
  flex-basis: calc(100% / 3);
  order: 2;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #f5f5f5;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.3);

  background-size: 200% 200%;
  animation: glowing 2s infinite alternate;
}

/* 금속 빛이 나는 효과 */
@keyframes glowing {
  0% {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #1e88e5, 0 0 10px #1e88e5,
      0 0 13px #1e88e5, 0 0 15px #1e88e5, 0 0 20px #1e88e5;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1e88e5, 0 0 20px #1e88e5,
      0 0 25px #1e88e5, 0 0 30px #1e88e5, 0 0 35px #1e88e5;
  }
}

#weather {
  flex-basis: calc(100% / 5);
  order: 3;
  padding: 20px;
  text-align: right;
  font-style: italic; /* 이태릭체로 변경 */
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.7);
  font-size: 1.25rem;
  top: 20px;
  right: 20px;
  width: 20%;
}

#quote {
  bottom: 0%; /* 중앙 하단에 위치 */
  left: 50%; /* 중앙에 위치 */
  transform: translate(-50%, -50%); /* 정확한 중앙 위치를 위한 보정 */
  width: 90%; /* 화면 크기의 1/2 */
  max-width: 80%;
  padding: 30px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-style: italic; /* 이태리체 */
  text-shadow: 2px 2px 4px rgba(166, 223, 228, 0.7);
  transition: transform 0.3s;
}

#quote:hover {
  transform: translateY(-8px);
}
